@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <h2>Crownd's Profile</h2>
                    <img src="~/img/rezero_tn.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-dark">Anime List</button>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-dark">Manga List</button>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-dark">Light Novel List</button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <h4>User Stats</h4>
                </div>
            </div>
            <div class="row" id="animestats">
                <div class="col-6">
                    <h4>Anime Stats</h4>
                    <p>Watching: 10</p>
                    <p>Completed: 10</p>
                    <p>On-Hold: 10</p>
                    <p>Dropped: 10</p>
                    <p>Plan to watch: 10</p>
                </div>
                <div class="col-6">
                    <h4>Latest Anime Updates</h4>
                    <ol>
                        <li>Attack on titan</li>
                        <li>My hero academia</li>
                        <li>Berserk</li>
                        <li>Tokyo Ghoul</li>
                        <li>Re:Zero</li>
                    </ol>
                </div>
            </div>
            <div class="row" id="mangastats">
                <div class="col-6">
                    <h4>Manga Stats</h4>
                    <p>Reading: 10</p>
                    <p>Completed: 10</p>
                    <p>On-Hold: 10</p>
                    <p>Dropped: 10</p>
                    <p>Plan to read: 10</p>
                </div>
                <div class="col-6">
                    <h4>Latest Manga Updates</h4>
                    <ol>
                        <li>Attack on titan</li>
                        <li>My hero academia</li>
                        <li>Berserk</li>
                        <li>Tokyo Ghoul</li>
                        <li>Re:Zero</li>
                    </ol>
                </div>
            </div>
            <div class="row" id="lightnovelstats">
                <div class="col-6">
                    <h4>Light Novel Stats</h4>
                    <p>Reading: 10</p>
                    <p>Completed: 10</p>
                    <p>On-Hold: 10</p>
                    <p>Dropped: 10</p>
                    <p>Plan to read: 10</p>
                </div>
                <div class="col-6">
                    <h4>Latest Light Novel Updates</h4>
                    <ol>
                        <li>Re:Zero</li>
                        <li>Overlord</li>
                        <li>Re:Zero</li>
                        <li>Re:Zero</li>
                        <li>Re:Zero</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Favorite Series</h4>
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Anime</th>
                                <th>Manga</th>
                                <th>Light Novel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Re:Zero</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
