@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <h1>Novel Reviews</h1>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Insert Novel Title</h4>
        <p>Username: Johnny</p>
        <p>Date: 1970/12/31</p>
        <p>Progress: 24/24</p>
        <p>Rating: 5/10</p>
    </div>
    <div class="col-12">
        <p>This is my super good review of a series that is only a 5/10</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Insert Novel Title</h4>
        <p>Username: Johnny</p>
        <p>Date: 1970/12/31</p>
        <p>Progress: 24/24</p>
        <p>Rating: 5/10</p>
    </div>
    <div class="col-12">
        <p>This is my super good review of a series that is only a 5/10</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Insert Novel Title</h4>
        <p>Username: Johnny</p>
        <p>Date: 1970/12/31</p>
        <p>Progress: 24/24</p>
        <p>Rating: 5/10</p>
    </div>
    <div class="col-12">
        <p>This is my super good review of a series that is only a 5/10</p>
    </div>
</div>
