@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/home.css" />
}
    <div class="container-fluid">
        <div class="row" id="friends">
            <div class="col-12" id="friendupdate">
                <h1>Friends Recent Updates</h1>
            </div>
        </div>

        <div class="row" id="anime">
            <div class="col-sm-12 col-md-12 col-lg-8" id="animerelease">
                <h3>Anime Releases</h3>
                <ul id="responsive1">
                    <li >
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <span class="title">Re Zero</span>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4" id="popularanime">
                <h3>Most Popular Anime</h3>
                <ul id="responsivepopular1">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/attack on titan_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/psychopass_tn.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="manga">
            <div class="col-sm-12 col-md-12 col-lg-8" id="mangarelease">
                <h3>Manga Releases</h3>
                <ul id="responsive2">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                </ul>
            </div>
            <div class="col-4" id="popularmanga">
                <h3>Most Popular Manga</h3>
                <ul id="responsivepopular2">
                    <li>
                        <img src="~/img/aot_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/liargame_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/berserk_tn.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="novel">
            <div class="col-sm-12 col-md-12 col-lg-8" id="novelrelease">
                <h3>Light Novel Releases</h3>
                <ul id="responsive3">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                </ul>
            </div>
            <div class="col-4" id="popularnovel">
                <h3>Most Popular Light Novels</h3>
                <ul id="responsivepopular3">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>                    
                </ul>
            </div>
        </div>

        <div class="row" id="reviews">
            <div class="col-12">
                <h1>Newest Reviews</h1>
            </div>
        </div>
        
    </div>
