@{
    ViewData["Title"] = "Home Page";
}
    <div class="container-fluid">
        <div class="row" id="friends">
            <div class="col-12" id="friendupdate">
                <h1>Friends Recent Updates</h1>
                
            </div>
        </div>

        <div class="row" id="anime">
            <div class="col-sm-12 col-md-8" id="animerelease">
                <h1>Anime</h1>
                <h3>Newest Releases</h3>
                <ul id="responsive1">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4" id="popularanime">
                <h1>Anime</h1>
                <h3>Most Popular</h3>
                <ul id="responsivepopular1">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/attack on titan_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/psychopass_tn.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="manga">
            <div class="col-8" id="mangarelease">
                <h1>Manga</h1>
                <h3>Newest Releases</h3>
                <ul id="responsive2">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                </ul>
            </div>
            <div class="col-4" id="popularmanga">
                <h1>Manga</h1>
                <h3>Most Popular</h3>
                <ul id="responsivepopular2">
                    <li>
                        <img src="~/img/aot_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/liargame_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/berserk_tn.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="novel">
            <div class="col-8" id="novelrelease">
                <h1>Light Novels</h1>
                <h3>Newest Releases</h3>
                <ul id="responsive3">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                </ul>
            </div>
            <div class="col-4" id="popularnovel">
                <h1>Light Novel</h1>
                <h3>Most Popular</h3>
                <ul id="responsivepopular3">
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>
                    <li>
                        <img src="~/img/rezero_tn.jpg" />
                    </li>                    
                </ul>
            </div>
        </div>

        <div class="row" id="reviews">
            <div class="col-12">
                <h1>Newest Reviews</h1>
            </div>
        </div>
        
    </div>
