.reviewbody {
    
}
.header {
    border-bottom: 1px solid rgb(33, 37, 41);
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.review {
    border: 1px solid rgb(235, 235, 235);
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}