body {
    background-color: #f7f7f7;
}
h3{
    border-bottom: 1px solid rgb(33, 37, 41);
}
.title{
    position: absolute;
    top: 197px;
    width: 160px;
    color: white;
    background-image: url(/img/image_box_shadow_bottom.png);
    text-align: center;
}
